<!doctype html>
<html class="no-js" lang="" xmlns:display="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Tarot Online</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <form style="display:none" action="/json/connexion.php" method="post" id="connexion">
            Username : <input type="text" name="username"> <br>
            Password : <input type="password" name="password"> <br>
            <input type="submit" value="Connexion">
        </form>

        <div id="boutonsMenu" style="display:none">
            <form action="/json/gestionMenu.php" method="post" id="creerPartie">
                <input type="submit" name="creerPartie" value="Créer une partie">
            </form>
            <form action="/json/gestionMenu.php" method="post" id="rejoindrePartie">
                <input type="submit" name="rejoindrePartie" value="Rejoindre une partie">
            </form>
            <form action="/json/gestionMenu.php" method="post" id="stats">
                <input type="submit" name="stats" value="Stats">
            </form>
            <form action="/json/deconnexion.php" method="post" id="deconnexion">
                <input type="submit" value="Deconnexion">
            </form>
        </div>


        <form style="display:none" action="/json/gestionMenu.php" method="post" id="formCreationPartie">
            Nom de la partie : <input type="text" name="nomPartie"> <br>
            <select name="nbJoueurs">
                <option value="3">3</option>
                <option value="4" selected>4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Valider">
        </form>

        <script src="../js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/gestionMenu.js"></script>
    </body>
</html>
